---
import { getCollection } from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import { datum, zeit } from "../../utils/zeit.ts";

// GET ALL ARTICLES FROM articles COLLECTION
const allArticles = await getCollection("articles", ({ data }) => {
  return data.draft !== true;
});
allArticles.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "articles";
---

<BasePage pageTitle={pageTitle}>
  <section>
  <h1>{pageTitle}</h1>
  <p>These are somewhat longform posts, which I write for any topic I have in mind, so not particularly technical.</p>

    <table class="index-table">
      <thead>
        <tr class="index-header"><td>Published</td>
        <td>Title</td>
        <td>Link</td>
        </tr>
      </thead>
      <tbody>
        {
          allArticles.map((article: any) => (
            <tr>
              <td class="index-date">{datum(article.data.pubDate)}</td>
              <td>{article.data.title}</td>
              <td class="index-read">
                <a href={`/articles/${article.slug}/`}>Read -></a>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="article-excerpt">{article.data.excerpt}...</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</BasePage>
