---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import { datum, zeit } from "../../utils/zeit.ts";
import Nav from "../components/Nav.astro";

// GET ALL ARTICLES FROM articles COLLECTION
const allArticles = await getCollection("articles", ({ data }: { data: any }) => {
  return data.draft !== true;
});
allArticles.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);

// GET ALL NOTES FROM notes COLLECTION
const allNotes = await getCollection("notes", ({ data }: { data: any }) => {
  return data.draft !== true;
});
allNotes.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "kenan.fyi | posting occasionally";
---

<Base pageTitle={pageTitle}>
  <Nav />
  <section>
    <p><img id="randomBanner" src="" alt="" class="banner" /></p>
    <p>Hey! Kenan here, an hardware engineer focused on power electronics, from Germany.</p>
    <p>
      Here I blog about software and other things that interest me. I write mostly for myself, but maybe you find them interesting too. This site is constantly being re-designed and re-organized,
      because it is serving me as a playground while I am improving myself in web development.

      <p>I believe everyone should have their own place in web and freely express themselves the way they want.</p>

      <p>
        You can find me on <a href="https://mas.to/@ingenieur">Mastodon°</a>, <a href="https://github.com/kenandotfyi">GitHub°</a> or contact me directly via <a href="mailto:hey@kenan.fyi">e-mail</a>.
        I always appreciate a meaningful and friendly conversation on topics such as software development, design, minimalism, electronics and non-fiction books.
      </p>
      <p>If you like to use RSS, I also have a feed which you can find <a href="https://kenan.fyi/rss.xml">here</a>.</p>

      <p class="dim">That place generally sucks, but you can also find me on <a href="https://linkedin.com/in/kenanakinci">LinkedIn</a>.</p>
    </p>
    <p>✶</p>
    <table class="index-table">
      <thead>
        <tr><td class="index-header" colspan="3">Index / <a href="/articles/">Articles</a></td></tr>
      </thead>
      <tbody>
        {
          allArticles.map((article: any) => (
            <tr>
              <td class="index-date">{datum(article.data.pubDate)}</td>
              <td>{article.data.title}</td>
              <td class="index-read">
                <a href={`/articles/${article.slug}/`}>Read -></a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <p>✶</p>

    <table class="index-table">
      <thead>
        <tr><td class="index-header" colspan="3">Index / <a href="/notes/">Notes</a></td></tr>
      </thead>
      <tbody>
        {
          allNotes.map((note: any) => (
            <tr>
              <td class="index-date">{datum(note.data.pubDate)}</td>
              <td>{note.data.title}</td>
              <td class="index-read">
                <a href={`/notes/${note.slug}/`}>Read -></a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</Base>

<script>
  const bannerCount = 10;

  window.onload = function () {
    const randomNumber = Math.floor(Math.random() * bannerCount) + 1;

    const imagePath = `/img/banner-${randomNumber}.png`;

    const banner = document.getElementById("randomBanner") as HTMLImageElement;
    if (banner) {
      banner.src = imagePath;
    }
  };
</script>
