---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import { datum, zeit } from "../../utils/zeit.ts";
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon/components";

// GET ALL ARTICLES FROM articles COLLECTION
const allArticles = await getCollection("articles", ({ data }: { data: any }) => {
  return data.draft !== true;
});
allArticles.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);

// GET ALL NOTES FROM notes COLLECTION
const allNotes = await getCollection("notes", ({ data }: { data: any }) => {
  return data.draft !== true;
});
allNotes.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "kenan.fyi | posting occasionally";
---

<Base pageTitle={pageTitle}>
  <p><img id="randomBanner" src="" alt="" class="banner" /></p>
  <Nav />
  <section>
    <p>Hey! Kenan here, hardware engineer, focused on power electronics.</p>
    <p>
      I believe everyone should have their own place in web and freely express themselves the way they want. This is therefore my place where I blog about software and other things that interest me. I
      write mostly for myself, but maybe you find them interesting too. This site is constantly being re-designed and re-organized, because it is serving me as a playground for my dabbling as well.
    </p>
    <p>
      You can find me on <a href="https://mas.to/@ingenieur">Mastodon<Icon name="ph:mastodon-logo-duotone" size="16" /></a>, <a href="https://github.com/kenandotfyi"
        >GitHub<Icon name="ph:github-logo-duotone" size="16" /></a
      > or contact me directly via <b>hey@kenan.fyi</b>. I always appreciate a meaningful and friendly conversation on topics such as software development, design, minimalism, electronics and
      non-fiction books.
    </p>
    <p>If you like to use RSS, I also have a feed which you can find <a href="https://kenan.fyi/rss.xml">here</a>.</p>

    <p><Icon name="ph:asterisk" size="18" /></p>
    <table class="index-table">
      <thead>
        <tr><td class="index-header" colspan="3">Index / <a href="/articles/">Articles</a></td></tr>
      </thead>
      <tbody>
        {
          allArticles.map((article: any) => (
            <tr>
              <td class="index-date">{datum(article.data.pubDate)}</td>
              <td>{article.data.title}</td>
              <td class="index-read">
                <a href={`/articles/${article.slug}/`}>Read →</a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <p><Icon name="ph:asterisk" size="18" /></p>

    <table class="index-table">
      <thead>
        <tr><td class="index-header" colspan="3">Index / <a href="/notes/">Notes</a></td></tr>
      </thead>
      <tbody>
        {
          allNotes.map((note: any) => (
            <tr>
              <td class="index-date">{datum(note.data.pubDate)}</td>
              <td>{note.data.title}</td>
              <td class="index-read">
                <a href={`/notes/${note.slug}/`}>Read →</a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</Base>

<script is:inline>
  const bannerCount = 24;

  window.onload = function () {
    const randomNumber = Math.floor(Math.random() * bannerCount) + 1;

    const imagePath = `/img/banner-${randomNumber}.png`;

    const banner = document.getElementById("randomBanner");
    if (banner) {
      banner.src = imagePath;
    }
  };
</script>

<style>
  .index-table {
    border-bottom: 0px;
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;

    & .index-header {
      background-color: var(--table-bg);
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);

      & a {
        text-decoration: none;
      }
    }

    & td {
      font-family: Atkinson;
      text-align: left;
      border-bottom: 1px solid var(--border);
      padding: 4px;
      text-align: left;
      vertical-align: top;
    }

    & td.index-date {
      width: 100px;
    }

    & td.index-read {
      width: 86px;
      font-family: Atkinson;
      text-align: center;

      & a {
        background-color: black;
        color: white;
        padding: 0 0.75rem;
        text-decoration: none;
      }

      & a:hover,
      a:visited:hover {
        background-color: var(--red);
      }

      & a:visited {
        background-color: var(--metadata);
      }
    }
  }

  @media (max-width: 1124px) {
    .index-table {
      width: 98%;

      & td.index-date {
        width: 80px;
        font-size: 12px;
      }
    }
  }
</style>
