---
import { getCollection } from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import { datum, zeit } from "../../utils/zeit.ts";

// GET ALL ARTICLES FROM articles COLLECTION
const allNotes = await getCollection("notes", ({ data }) => {
  return data.draft !== true;
});
allNotes.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "Notes";
---

<BasePage pageTitle={pageTitle}>
  <section>
    <div>
      <h3>
        {pageTitle}
      </h3>
    </div>

    <table class="index-table">
      <thead>
        <tr><td class="index-header" colspan="3">Index / <a href="/articles/">Notes</a></td></tr>
      </thead>
      <tbody>
        {
          allNotes.map((article: any) => (
            <tr>
              <td class="index-date">{datum(article.data.pubDate)}</td>
              <td>{article.data.title}</td>
              <td class="index-read">
                <a href={`/notes/${article.slug}/`}>Read -></a>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="article-excerpt">{article.data.excerpt}...</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</BasePage>
