---
import { getCollection } from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import { datum, zeit } from "../../utils/zeit.ts";

// GET ALL ARTICLES FROM articles COLLECTION
const allNotes = await getCollection("notes", ({ data }) => {
  return data.draft !== true;
});
allNotes.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "notes";
---

<BasePage pageTitle={pageTitle}>
  <section>
  <h1>{pageTitle}</h1>
  <p>Below are some notes about different topics I find interesting during learning something and like to keep a record of. They are generally sections or quick jots from my locally stored PKM system.</p>

    <table class="index-table">
    <thead>
      <tr class="index-header"><td>Published</td>
      <td>Title</td>
      <td>Link</td>
      </tr>
    </thead>
      <tbody>
        {
          allNotes.map((article: any) => (
            <tr>
              <td class="index-date">{datum(article.data.pubDate)}</td>
              <td>{article.data.title}</td>
              <td class="index-read">
                <a href={`/notes/${article.slug}/`}>Read -></a>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="article-excerpt">{article.data.excerpt}...</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</BasePage>
