---
import { getCollection } from "astro:content";
import Note from "../components/Note.astro";
import Base from "../layouts/Base.astro";

// GET ALL NOTES FROM notes COLLECTION

const allNotes = await getCollection("notes", ({ data }: { data: any }) => {
  return data.draft !== true;
});
allNotes.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);

const pageTitle = "notes";
---

<Base pageTitle={pageTitle}>
  <section>
    <div class="post-title"><h1>{pageTitle}</h1></div>
    {
      allNotes.map(async (n) => {
        const { Content } = await n.render();
        return (
          <Note frontmatter={n}>
            <Content />
          </Note>
        );
      })
    }
  </section>
</Base>

<!-- <script>
  //@ts-nocheck
  //first select all toggle elements on the page based on their id, matching with the unique slug
  const toggles = document.querySelectorAll(`span[id^=${frontmatter.slug}]`);
  toggles.forEach((toggle) => {
    toggle.innerHTML = "×";
    toggle.style.fontSize = "1.5rem";
    toggle.style.cursor = "pointer";

    //select a div with the same id
    const note = document.querySelector(`section#${frontmatter.slug}`);
    //add click events to the toggle element
    toggle.addEventListener("click", () => {
      if (note.style.display === "block" || note.style.display === "") {
        note.style.display = "none";
      } else {
        note.style.display = "block";
      }
    });
  });
</script> -->
