---
import { getCollection } from "astro:content";
import BasePage from "../layouts/BasePage.astro";
import { datum, zeit } from "../../utils/zeit.ts";

// GET ALL ARTICLES FROM articles COLLECTION
const allNotes = await getCollection("notes", ({ data }) => {
  return data.draft !== true;
});
allNotes.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "notes";
---

<BasePage pageTitle={pageTitle}>
  <section>
  <h1 class="pageHeader">{pageTitle}</h1>
  <p>Below are some notes about different topics I find interesting during learning something and like to keep a record of. They are generally sections or quick jots from my locally stored PKM system.</p>

    <table class="index-table">
    <thead>
      <tr class="index-header"><td>Published</td>
      <td>Title</td>
      <td>Link</td>
      </tr>
    </thead>
      <tbody>
        {
          allNotes.map((article: any) => (
            <tr>
              <td class="index-date">{datum(article.data.pubDate)}</td>
              <td>{article.data.title}</td>
              <td class="index-read">
                <a href={`/notes/${article.slug}/`}>Read →</a>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="article-excerpt">{article.data.excerpt}...</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </section>
</BasePage>

<style>
.index-table {
    border-bottom: 0px;
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;

    & .index-header {
      background-color: var(--table-bg);
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);

      & a {
        text-decoration: none;
      }
    }

    & td {
      font-family: Atkinson;
      text-align: left;
      border-bottom: 1px solid var(--border);
      padding: 4px;
      text-align: left;
      vertical-align: top;
  }

    & td.article-excerpt{
      font-size: 14px;
      color: var(--metadata);
    }

    & td.index-date {
      width: 100px;
    }

    & td.index-read {
      width: 86px;
      font-family: Atkinson;
      text-align: center;

      & a {
        background-color: black;
        color: white;
        padding: 0 0.75rem;
        text-decoration: none;
      }

      & a:hover,
      a:visited:hover {
        background-color: var(--red);
      }

      & a:visited {
        background-color: var(--metadata);
      }
    }
  }

  @media (max-width: 1124px) {
    .index-table {
      width: 98%;

      & td.index-date {
        width: 80px;
        font-size: 12px;
      }
    }
  }
</style>
