---
//@ts-nocheck
import { experimental_AstroContainer as AstroContainer } from "astro/container";
import { getContainerRenderer as getMDXRenderer } from "@astrojs/mdx";
import { loadRenderers } from "astro:container";
import { getEntry } from "astro:content";
import { datum } from "../../utils/zeit.ts";

const { type, href } = Astro.props;
// setup astro containers rendering
const renderers = await loadRenderers([getMDXRenderer()]);
const container = await AstroContainer.create({ renderers });

// get the article/note
const entry = await getEntry(type === "article" ? "articles" : "notes", href);
const title = entry.data.title;
const pD = datum(entry.data.pubDate);
//render content
const { Content } = await entry.render();

const cont = await container.renderToString(Content);
---

<span><a href={`/${type}s/${href}/`} data-target={href} class="prev-link"><slot /></a></span><span class="hiddenPrev hiddenContent" id={href} data-title={title} data-type={type} data-pD={pD}>
  {cont.substring(0, 180)}...
</span>
