---
import { zeit } from "../../utils/zeit.ts";
const { frontmatter } = Astro.props;
---

<div>
  <div class="note-header">
    <span style="font-weight: bold; text-transform: uppercase;">
    <a href={`/notes/${frontmatter.slug}/`}>{frontmatter.data.title}</a>
    </span>
    <span>{zeit(frontmatter.data.pubDate)} </span>
    <span id={frontmatter.slug}></span>
  </div>
  <div class="note-content" id={frontmatter.slug}>
      <slot />
  </div>
  <p></p>
</div>

  <script define:vars={{frontmatter}}>
  //@ts-nocheck
    //first select all toggle elements on the page based on their id, matching with the unique slug
    const toggles = document.querySelectorAll(`span[id^=${frontmatter.slug}]`);
    toggles.forEach((toggle) => {
      toggle.innerHTML = "×";
      toggle.style.cursor = "pointer";

      //select a div with the same id
      const note = document.querySelector(`div#${frontmatter.slug}`);
      //add click events to the toggle element
      toggle.addEventListener("click", () => {
        if (note.style.display == "block"){
          note.style.display = "none";
        }
        else {
          note.style.display = "block";
        }
      })
    });
  </script>