---
import Base from "./Base.astro";
import Extra from "../components/Extra.astro";
import { zeit, datum } from "../../utils/zeit.ts";
const { frontmatter, minutes } = Astro.props;
import Hovers from "../components/Hovers.astro";
import Rn from "../components/Rn.astro";
import SnMnHighlight from "../components/SnMnHighlight.astro";
import Nav from "../components/Nav.astro";
import Interactions from "../components/Interactions.astro";
const { pageTitle, path } = Astro.props;
const currentPath = Astro.url.pathname.toString().split("/")[1];
---

<Base pageTitle={frontmatter.title}>
  <Nav path={frontmatter.title} />
  <section>
    <div class="metadata soft">
      <table class="metadata-table">
        <thead>
          <tr>
            <td> -> {frontmatter.title}</td>
            <td>{datum(frontmatter.pubDate)}</td>
          </tr>
        </thead>
        <tbody>
          {
            datum(frontmatter.updated) === datum(frontmatter.pubDate) ? (
              ""
            ) : (
              <tr>
                <td>Updated</td>
                <td>{datum(frontmatter.updated)}</td>
              </tr>
            )
          }
          <tr>
            <td>Category</td>
            <td>{frontmatter.tags.map((t: string) => <span>{t} </span>)}</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>{minutes}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <slot />
  </section>
  <Interactions data={frontmatter} />
  <Extra backlinks={frontmatter.backlinks} />
</Base>
<Hovers />
<SnMnHighlight />
<Rn />
