---
import Base from "./Base.astro";
import Extra from "../components/Extra.astro";
import { zeit } from "../../utils/zeit.ts";
const { frontmatter, minutes } = Astro.props;
const currentPath = Astro.url.pathname;
import Hovers from "../components/Hovers.astro";
import Rn from "../components/Rn.astro";
import SnMnHighlight from "../components/SnMnHighlight.astro";
---

<Base pageTitle={frontmatter.title}>
  <article>
    <section id="main" class="main">
      <div class="post-title" id="post-title">
        <p>
          /{currentPath.toString().split("/")[1]}/
        </p>
        <h1>{frontmatter.title}</h1>
        <p>
          {zeit(frontmatter.pubDate)}
          — {minutes}{frontmatter.status === "wip" ? ", wip" : ""}
        </p>
        {
          zeit(frontmatter.updated) === zeit(frontmatter.pubDate) ? (
            " "
          ) : (
            <p>
              updated:
              {zeit(frontmatter.updated)}
            </p>
          )
        }
      </div>
      <slot />
    </section>
  </article>

  <Extra backlinks={frontmatter.backlinks} />
</Base>
<Hovers />
<SnMnHighlight />
<Rn />
