---
import Base from "./Base.astro";
import Extra from "../components/Extra.astro";
import { zeit } from "../../utils/zeit.ts";
const { frontmatter, minutes } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <div class="post-title">
    <h1>{frontmatter.title}</h1>
    <p>
      {zeit(frontmatter.pubDate)}
      • {minutes}{frontmatter.status === "wip" ? ", wip" : ""}
    </p>
    {
      zeit(frontmatter.updated) === zeit(frontmatter.pubDate) ? (
        " "
      ) : (
        <p>
          <i>
            updated:
            {zeit(frontmatter.updated)}
          </i>
        </p>
      )
    }
  </div>
  <main>
    <slot />
  </main>
  <Extra backlinks={frontmatter.backlinks} forwards={frontmatter.forwards} />
</Base>
